*{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.navbar{
  background-color: darkgreen;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.logo{
  justify-self: center;
  align-self: center;
  padding: 20px;
}

.logo img{
  width: 55%;
}

.actions {
  justify-self: center;
  align-self: center;
}

.act-button{
  padding: 5px 30px;
  border-radius: 5px;
}

.cart {
  justify-self: center;
  align-self: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

h1{
  color: darkgreen;
  text-align: center;
  font-size: 72px;
}

a:hover, .cart:hover{
  background-color: aqua;
  background-color: darkslategray;
}